.pill {
  border-radius: 20px;
  padding: 2px 10px;
}

.primary-pill {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
.success-pill {
  color: var(--color-green);
  background-color: var(--color-bg-green);
}
.onway-pill {
  color: var(--color-blue);
  background-color: var(--color-bg-blue);
}
.error-pill {
  color: var(--color-red);
  background-color: var(--color-bg-red);
}
.draft-pill {
  color: var(--color-gray);
  background-color: var(--color-bg-gray);
}
